.h1{
	font-family:"Myriad Pro Regular", "PTSans Narrow";
	font-weight: bold;
	font-size: 30px;
	color: #000000;
	line-height: 41px;
}
.h2{
    font-family: "Myriad Pro Regular", "PTSans Narrow";
	font-weight: bold;
	font-size: 24px;
	color: #000000;
	line-height: 52px;
}