body{
    font-family: "PTSans", "Arial";
	font-weight: regular;
	font-size: 14px;
	color: #000000;
	line-height: 24px;
}

h1{
	font-weight: bold;
	font-size: 30px;
	line-height: 41px;
}

h2{
    font-family: "PTSans", "Arial";
	font-weight: bold;
	font-size: 24px;
	line-height: 52px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-header {
  margin-bottom: 60px;
  background-color: #000000;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-navigation {
  width: 780px;
  float: left;
}

.user-block {
  width: 140px;
  float: right;
}

.second-header{
  width: 940px;
}

.goods-class{
	width: 220px;
	float: left;
}

.goods{
	width: 700px;
	float: right;
}

.good{
	width: 220px;
	float: left;
	margin-bottom:20px;
}

.good:nth-child(2),
.good:nth-child(5){
	margin-right: 20px;
	margin-left: 20px;
}

.paginator{
	width: 700px;
	float: right;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  }

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  margin-left: 0px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}