body{
  font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: regular;
	font-size: 14px;
	color: #000000;
	line-height: 24px;
  text-transform: uppercase;

  background-image: url("../img/bg_contentblock.png");
}

h1{
  font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 41px;
}

h2{
  font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 52px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.main-header {
    margin-bottom: 60px;
    background-color: #000000;
    color: #ffffff;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-navigation {
    width: 780px;
    float: left;
}

.main-navigation a{
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;

}

.main-navigation li:first-child a{
    padding: 21px 20px;
}

.main-navigation a:hover {
    background: #242424;
}


.main-navigation ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;

    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}





.user-block {
    max-width: 140px;
    float: right;
}

.login {
    position: relative;

    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;

    font-size: 16px;
    line-height: 20px;
    vertical-align: top;

    color: #ffffff;
    text-decoration: none;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 18px;

    background: transparent url("../img/icon-login.gif") no-repeat;
    opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.second-header{
    width: 940px;
    margin-bottom: 30px;
}

.bread-crumbs ul{
    margin: 0;
    padding: 0;
    /*list-style: url("../img/list-cube1.png");*/
    font-size: 0;
}

.bread-crumbs a{
    position: relative;
    display: block;
    padding: 25px 28px;
    padding-left: 15px;
  
    color: #000000;
    text-decoration: none;
}

.bread-crumbs li:nth-child(1) a{
    padding-left: 0;
}

.bread-crumbs li{
    position: relative;
    display: inline-block;

    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    vertical-align: top;
}

.bread-crumbs li:last-child{
    padding: 25px 20px;
    padding-left: 15px;
    color:#aba9a7;
}

.bread-crumbs a::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 3px;
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);

    background-color: #000000;
}

.goods-type{
    margin-bottom: 0;
}

.image-part{
    width: 460px;
    float: left;
}

.image-part img{
    display: block;
}

.big-photo,
.photo-column{
    box-shadow: 0 0 6px 3px #dcdad7;
}

.side-bar{
  position: relative;
    width: 390px;
    padding-left: 10px;
    padding-top: 22px;
    margin-left: 80px;

    float: right;
    font-weight: bold;
}

.top-right{
    position:absolute;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.top-left{
    position:absolute;
    left:272px;
    color: #aeaeae;
}

.price-pay{
  position: relative;
  margin-top: 42px;
  margin-bottom: 25px;
  height: 42px;
}

.good .price-pay{
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.price{
    position: absolute;
    /*position: relative;*/
    padding:9px 27px;
    background-color: #e5e5e5;
    cursor: pointer;
}

.pay{
  position: absolute;
  padding:9px 27px;
  background-color: #000000;
  left: 109px;
  color: #ffffff;
  cursor: pointer;
}

.price:hover,
.price:active,
.pay:hover,
.pay:active{
  background-color: #663d15;
}

.good-description{
  margin-top: 40px;
}

.good-description ul{
  margin-top: 40px;
   margin: 0;
    padding: 0;
    padding-left: 20px;
    list-style: url("../img/list-cube1.png");
}

.photo-column{
    width: 140px;
    float: left;
    margin-top: 20px;
    border:none;
}

.photo-column:nth-child(2){
    margin: 0 20px;
    margin-top: 20px;
}

.goods-class{
    width: 220px;
    float: left;
}

.goods{
    width: 700px;
    float: right;
}

.good{
  background-color: #ffffff;
    width: 220px;
    float: left;
    margin-bottom:20px;
}

.good:nth-child(2),
.good:nth-child(5){
    margin-right: 20px;
    margin-left: 20px;
}

.paginator{
    width: 700px;
    float: right;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-weight: bold;

    color: #ffffff; /* лучше явно прописать везде для футера */
    background: #252525 url("../img/black-fone.jpg");

}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    margin-left: 10px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;

    text-align: center;

}

.footer-copyright {
    float: right;
    max-width: 180px;

}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

    font-size: 0;
  vertical-align: top;
  text-decoration: none;


  background: #000000 url("../img/sprites/sprite1.png") no-repeat center;

    transition: 
    background-position 0.5s,
    background-color 0.5s;

}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: -1px -192px;
}

.social-btn-fb {
 background-position: 5px -72px;
}

.social-btn-inst {
  background-position: 1px -114px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;

  background-color: #ffffff;
}








.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cross {
    width: 12px;
    height: 12px;
    background-position: -10px -10px;
}

.sprite-cross-square {
    width: 20px;
    height: 20px;
    background-position: -10px -42px;
}

.sprite-f {
    width: 12px;
    height: 22px;
    background-position: -10px -82px;
}

.sprite-instagram {
    width: 21px;
    height: 21px;
    background-position: -10px -124px;
}

.sprite-square {
    width: 20px;
    height: 20px;
    background-position: -10px -165px;
}

.sprite-v {
    width: 25px;
    height: 16px;
    background-position: -10px -205px;
}
